body{
    background: linear-gradient(to bottom left, rgb(0, 3, 5)40%, rgb(13, 84, 126) 100%);
}
#event{
    display: flex !important; 
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
}
.heading{
    text-align: center;
    padding: 30px;
    color: white;

}

nav{
    background: linear-gradient(to bottom left, rgb(1, 47, 73) 40%, rgb(247, 244, 244) 100%);
   margin-left: -25px;
   margin-right: -25px;
    margin-top: -15px;
}
